@import "~styles/colors.scss";

.input-subscribe {
  width: 380px;
  position: relative;

  input {
    background: none;
    border: none;

    border-bottom: 1px solid $main;
    width: 100%;
    padding: 0 32px 20px 0;
    box-sizing: border-box;

    font-size: 20px;
    line-height: 130%;
    outline: none;

    &::placeholder {
      color: $main;
    }
  }

  svg {
    position: absolute;
    right: 0;
    top: 0;
  }
}
