.input-search {
  width: 100%;

  input {
    box-sizing: border-box;
    width: 100%;
    outline: none;

    background: rgba(196, 196, 196, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    font-size: 18px;
    line-height: 130%;
    padding: 10px;

    &.noborder {
      border: none;
    }
  }
}
