@import "~styles/colors.scss";

.asset-stats {
  display: flex;
  margin-bottom: 10px;

  > div:first-child {
    min-width: 386px;
  }

  > div:last-child {
    flex: 1;
    padding-left: 10px;
  }
}

.price-stats {
  width: 100%;
  background: #ffffff;
  /* Panel_shadow_outlined */

  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 20px 20px 25px;
  margin-bottom: 10px;

  .heading {
    margin: 0 0 10px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;

    opacity: 0.4;
  }

  .stats {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;

    font-weight: 600;
    font-size: 20px;
    line-height: 112.4%;

    > div {
      display: flex;
      align-items: center;
    }
  }

  img {
    width: 26px;
    height: 26px;
  }

  svg,
  img {
    margin-right: 10px;
  }
}

.profit-loss {
  background: #ffffff;
  /* Panel_shadow_outlined */

  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 25px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    margin-bottom: 10px;

    opacity: 0.4;
  }

  .value {
    font-weight: 600;
    font-size: 20px;
    line-height: 112.4%;
  }

  .up {
    color: $positive;
  }

  .down {
    color: $negative;
  }
}
