.line-chart {
  width: 100%;

  box-shadow: none;

  img {
    width: 100%;
  }

  .axis-x,
  .axis-y {
    .domain {
      display: none;
    }

    .tick {
      line {
        display: none;
      }

      text {
        opacity: 0.5;

        font-size: 14px;
        line-height: 112.4%;
      }
    }
  }

  .axis-y {
    .tick:nth-child(2) {
      display: none;
    }
  }

  .area {
    background: linear-gradient(
      180deg,
      rgba(0, 168, 232, 0.05) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}
