@import "./colors.scss";
@import "~styles/button.scss";

body {
  min-height: 100vh;
  background: linear-gradient(
      181.6deg,
      rgba(63, 92, 166, 0.05) 0.82%,
      rgba(255, 255, 255, 0) 50.01%
    ),
    #f8f8fa;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: $main;
}

body {
  margin: 0;
  font-family: "Inter", "Playfair Display", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;

  .app {
    min-height: 100vh;
    position: relative;

    min-width: 1280px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-weight: bold;
  font-size: 54px;
  line-height: 116.4%;
  margin-bottom: 60px;
}

h2 {
  font-weight: bold;
  font-size: 54px;
  line-height: 112.4%;
  margin-bottom: 25px;
}

h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 112.4%;
  margin-bottom: 15px;
}

div,
section {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: $main;
  text-decoration: none;
}

hr {
  height: 1px;
  background: rgba(0, 0, 0, 0.15);
  border: none;
}
