@import "~styles/colors.scss";

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 3s linear infinite;
}

.coming-soon-module {
  a {
    color: $complementary;
  }

  nav {
    padding: 10px 0;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        margin-right: 10px;
      }

      span {
        font-weight: 500;
        font-size: 20px;
      }
    }
  }

  .container {
    max-width: 1024px;
    margin: 0 auto;
  }

  .heading-wrapper {
    max-width: 876px;
    margin: 120px auto 80px;
  }

  .heading {
    font-weight: bold;
    font-size: 54px;
    line-height: 116.4%;
  }

  .sub-heading {
    font-weight: bold;
    font-size: 54px;
    line-height: 112.4%;
    margin: 50px 0 20px;
  }

  .message {
    text-align: center;
    margin: auto;
    max-width: 716px;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;

    svg {
      margin-left: 20px;
      width: 20px;
      position: relative;
      top: 12px;
    }
  }

  .contact-us {
    text-align: center;

    ul {
      width: 210px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin: auto;

      li {
        padding-bottom: 5px;

        svg {
          margin-right: 10px;
          position: relative;
          top: 7px;
        }
      }
    }
  }

  footer {
    padding: 100px 10px 10px;
    text-align: center;
  }
}
