@import "~styles/colors.scss";

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 3s linear infinite;
}

a {
  text-decoration: none;
}

.coming-soon-module {
  a {
    color: $comlementary;
  }

  nav {
    .logo {
      cursor: pointer;
      padding: 35px 0;
      display: flex;
      align-items: center;

      svg {
        margin-right: 10px;
      }

      span {
        font-weight: 500;
        font-size: 20px;
      }
    }
  }

  .content {
    flex: 1 0 auto;
    margin-top: 160px;
    p {
      font-family: Playfair Display, sans-serif;
      font-size: 42px;
      line-height: 132.4%;
      color: $primary;
    }
    a {
      display: inline-block;
      margin-top: 60px;
      padding: 10px 40px;
      background: $primary;
      color: #ffffff;
      outline: none;
      cursor: pointer;
      border: 1px solid $primary;
      box-sizing: border-box;
      border-radius: 10px;
      font-size: 18px;
      line-height: 112.4%;
      &:hover {
        background: rgba($color: $primary, $alpha: 0.8);
      }
      &:active {
        &:active {
          transform: translateY(0.1px);
          box-shadow: 0 5px 10px rgba($color: $primary, $alpha: 0.2);
        }
      }
    }
  }

  .container {
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .wrapper {
    flex: 1 0 auto;
    padding: 0 20px;
  }

  .heading-wrapper {
    max-width: 876px;
    margin: 120px auto 80px;
  }

  .heading {
    font-weight: bold;
    font-size: 54px;
    line-height: 116.4%;
  }

  .sub-heading {
    font-weight: bold;
    font-size: 54px;
    line-height: 112.4%;
    margin: 50px 0 20px;
  }

  .message {
    text-align: center;
    margin: auto;
    max-width: 716px;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;

    svg {
      margin-left: 20px;
      width: 20px;
      position: relative;
      top: 12px;
    }
  }

  .contact-us {
    text-align: center;

    ul {
      width: 210px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin: auto;

      li {
        padding-bottom: 5px;

        svg {
          margin-right: 10px;
          position: relative;
          top: 7px;
        }
      }
    }
  }

  footer {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 66px;
    margin-top: 20px;
    .email-link {
      font-family: Inter;
      font-size: 24px;
      line-height: 116.4%;
      text-transform: uppercase;
      color: $primary;
    }
    .medium-link {
      margin-right: 30px;
    }
  }
}

@media (max-width: $tablet-width) {
  .coming-soon-module {
    .content {
      margin-top: 40px;
      p {
        font-size: 22px;
      }
      a {
        margin-top: 30px;
      }
    }

    footer {
      .email-link {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: $mob-width) {
  .coming-soon-module {
    footer {
      flex-direction: column-reverse;
      padding-bottom: 20px;
      .email-link {
        margin-top: 10px;
      }
    }
  }
}
