.home-module {
  header {
    text-align: center;
    margin: auto;

    p {
      font-size: 20px;
      line-height: 140%;
    }

    .button {
      font-size: 18px;
      line-height: 112.4%;

      padding: 10px 55px;
    }
  }

  .main-module-header {
    max-width: 876px;
    padding-bottom: 50px;
  }

  section .content {
    max-width: 980px;
    margin: 0 auto;
  }
}
