.home-module {
  header {
    text-align: center;
    margin: auto;

    p {
      font-size: 20px;
      line-height: 140%;
      margin-bottom: 30px;
    }

    .button {
      font-size: 18px;
      line-height: 112.4%;

      padding: 10px 55px;
    }
  }

  section .content {
    max-width: 980px;
    margin: 0 auto;
  }

  .main-module-header {
    max-width: 876px;
    padding: 50px 0;
  }

  .top-index-section {
    margin-bottom: 100px;
  }

  .what-we-do-section {
    margin-bottom: 100px;

    header {
      max-width: 716px;
      margin-bottom: 80px;
    }
  }

  .cards {
    display: flex;
    justify-content: space-between;

    & > div {
      flex: 0 0 270px;
    }
  }
}
