.default-modal {
  width: 413px;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .close {
      -webkit-appearance: unset;
      border: none;
      background: none;
      outline: none;

      cursor: pointer;
    }
  }

  .heading {
    margin: 0;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 112.4%;
  }
}
