@import "~styles/colors.scss";

.index-stats-component {
  background: #ffffff;
  /* Panel_shadow_outlined */

  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  padding: 20px 20px 25px;
  margin-bottom: 10px;

  .heading {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 112.4%;
    margin: 0 0 30px 0;
  }

  .stats {
    display: flex;
    justify-content: flex-start;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  .stat {
    &:not(:first-child) {
      margin-left: 80px;
    }

    .title {
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      opacity: 0.4;
      margin-bottom: 5px;
    }

    .value {
      font-weight: 600;
      font-size: 20px;
      line-height: 112.4%;

      .suffix {
        font-weight: 500;
        font-size: 14px;
        line-height: 112.4%;
        margin-left: 5px;
      }
    }

    .up {
      color: $positive;
    }

    &.description {
      .value {
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
      }
    }
  }
}
