@font-face {
  font-family: 'GTWalsheim';
  src: local('GTWalsheim'), url('../src/assets/fonts/gt-walsheim-medium.ttf') format('truetype');
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: 'GTWalsheim';
  background: #131722;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
