.asset-cards {
  margin-bottom: 40px;

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: -10px;
    padding: 10px 0;

    & > div {
      flex: 0 0 248px;
      margin: 5px;
    }
  }
}
